# --- Keil MDK 中间文件 ---
*.o
*.d
*.crf
*.htm
*.dep
*.lnp
*.sct
*.lst
*.map
*.axf
*.build_log.htm
*.htm
*.iex
*.i
*.txt

# --- 编译输出目录 ---
Listings/
Objects/
DebugConfig/
MDK-ARM/output/
MDK-ARM/RTE/

# --- STM32CubeMX 相关 ---
.mxproject
*.pbi
*.pbd

# --- 操作系统/编辑器缓存 ---
.DS_Store
Thumbs.db
.vscode/
.idea/